@import "lib/govuk-frontend/govuk/base";
@import "lib/govuk-frontend/govuk/core/typography";
@import "lib/govuk-frontend/govuk/core/links";

$govuk-global-styles: true;

// ----------------
// Hide the back link when body does not have .js-enabled
//
// ----------------

body:not(.js-enabled) {
    .govuk-back-link {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

// ----------------

p {
  @extend .govuk-body;
}

a {
  @extend .govuk-link;
}

h1 {
  @extend .govuk-heading-l;
}

h2 {
  @extend .govuk-heading-m;
}

h3 {
  @extend .govuk-heading-s;
}

// ----------------
// Ensures the correct alignment of buttons within the button-group
// ----------------
@include govuk-media-query() {
  .govuk-button-group {
     align-items: normal;
  }
}
